{erl_opts, [debug_info]}.
{deps, [{jsx,   {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.8.1"}}},
        {eLog,  {git, "git://github.com/miby00/eLog.git",  {branch, "master"}}},
        {eper,  {git, "git://github.com/massemanet/eper.git", {branch, "master"}}},
        {ePort, {git, "git://github.com/miby00/ePort.git", {branch, "master"}}},
        {gun,   {git, "https://github.com/ninenines/gun.git", {branch, "master"}}}]}.
{shell, [{apps, [eTodo]}]}.
{relx, [{release,      {eTodo, "1.0.1"}, [eTodo]},
        {dev_mode,     false},
        {include_src,  false},
        {include_erts, true},
        {vm_args,      "./config/vm.args"},
        {sys_config,   "./config/sys.config"},
        {extended_start_script, false}]}.
