
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

.done {
    text-decoration:line-through;
}

.ui-btn-inner {
    padding: .6em 13px;
}