/* ubuntu-regular - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ubuntu-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Ubuntu'),
    url('../priv/fonts/ubuntu-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../priv/fonts/ubuntu-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../priv/fonts/ubuntu-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../priv/fonts/ubuntu-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../priv/fonts/ubuntu-v9-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

body {
    font-size: 1.0em;
    color: white;
    background-color: black;
    font-family: Ubuntu, sans-serif;
}

select {
    -webkit-appearance: menulist-button;
    height: 28px;
    border: none;
    border-radius: 3px;
    background-color: #f1f1f1;
}

textarea {
    height: auto;
    width: 100%;
    border: none;
    border-radius: 3px;
    resize: none;
    padding: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 2px;
}

input, select, textarea {
    font-size: 1.0em;
    color: DarkRed;
    background-color: white;
    font-family: Ubuntu, sans-serif;
}

td {
    height: 26px;
    page-break-inside: avoid;
    padding: 2px;
    border-radius: 3px;
    border: 1px;
}

tr {
    page-break-inside: avoid;
}

#createTodo {
    margin: 3%;
}

#message {
    margin: 3%;
}

#footer {
    width: 96%;
    height: 50px;
    bottom: 0;
    padding-bottom: 4px;
    margin-bottom: 0;
    position: fixed;
    z-index: 150;
    _position: absolute;
    _top: expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
}

#container {
    width: 100%;
}

#tableHeader {
    background: rgb(0, 0, 0); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MxY2VmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OGFlZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgb(84, 84, 84) 0%, rgb(0, 0, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(84, 84, 84)), color-stop(100%, rgb(0, 0, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(84, 84, 84) 0%, rgb(5, 12, 84) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(84, 84, 84) 0%, rgb(0, 0, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(84, 84, 84) 0%, rgb(0, 0, 0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(84, 84, 84) 0%, rgb(0, 0, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1ceff', endColorstr='#98aefe', GradientType=0); /* IE6-8 */

    border-color: DarkRed;
    border-width: 1px;
}

table {
    table-layout: fixed;
    padding: 0.5% 0.5%;
    margin: 0.5%;
    border: 1px solid DarkRed;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width: 99%;
    page-break-inside: avoid;

    background: rgb(0, 0, 0); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MxY2VmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OGFlZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgb(84, 84, 84) 0%, rgb(0, 0, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(84, 84, 84)), color-stop(100%, rgb(0, 0, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(84, 84, 84) 0%, rgb(0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(84, 84, 84) 0%, rgb(0, 0, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(84, 84, 84) 0%, rgb(0, 0, 0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(84, 84, 84) 0%, rgb(0, 0, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1ceff', endColorstr='#98aefe', GradientType=0); /* IE6-8 */
}

table.msgReceived {
    width: 90%;
    margin-right: 9%;
}

table.msgSent {
    background: rgb(0, 0, 0); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MxY2VmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OGFlZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgb(84, 84, 84) 0%, rgb(0, 0, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(84, 84, 84)), color-stop(100%, rgb(0, 0, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(84, 84, 84) 0%, rgb(0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(84, 84, 84) 0%, rgb(0, 0, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(84, 84, 84) 0%, rgb(0, 0, 0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(84, 84, 84) 0%, rgb(0, 0, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1ceff', endColorstr='#98aefe', GradientType=0); /* IE6-8 */

    width: 90%;
    margin-left: 9%;
}

.divider {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.hideRow {
    display: none;
}

.subTodoTable {
    border: 2px dotted DarkRed;
}

.todoTable {
}

.tableHeader {
    text-align: left;
}

.data {
    color: DarkRed;
    background-color: white;
    width: 31%;
}

.data2 {
    color: DarkRed;
    background-color: white;
    width: 31%;
}

.data3 {
    color: DarkRed;
    background-color: white;
    width: 100%;
}

.data4 {
    color: DarkRed;
    width: 31%;
}

.done {
    text-decoration: line-through;
}

.header {
    width: 70px;
    font-weight: bold;
    color: white;
}

.cstatus {
    width: 110px;
    vertical-align: text-top;
    padding-top: 0px;
}

.emote {
    vertical-align: text-top;
}

.msgImg {
    width: 50px;
    text-align: center;
}

.msgTime {
    width: 100px;
    text-align: center;
    color: white;
}

.portrait {
    width:  45px;
    height: 45px;
}

.portraitCol {
    text-align: center;
}

.msgUser {
    width: 15%;
    color: white;
}

.msgText {
    color: white;
}

.status {
    width: 100%;
}

.priority {
    width: 100%;
}

#toolbar {
    width: 110px;
}

#taskSelect {
    width: 30%;
    margin-top: 1px;
    height: 28px;
    padding: 3px;
    border-radius: 3px;
}

#filterSettings, #presentationSettings {
    padding: 1em;
}

#presentationSettings{
    margin-top: 1em;
}

#createTaskListForm, #deleteTaskListForm, #deleteTaskList {
    margin-top: 1em;
}
#searchField {
    width: 61%;
    margin-left: 1%;
    height: 28px;
    margin-top: 1px;
    margin-right: 10px;
    float: right;
}

#searchButton {
    width: 32px;
    height: 32px;
    float: right;
    background: transparent url("/priv/Icons/search.png") no-repeat center;
    cursor: pointer; /* hand-shaped cursor */
    text-indent: -9999px;
    background-color: DarkRed;
    border-color: Black;
    border-radius: 5px;
}

.description {
    font-weight: bold;
    width: 23%;
}

.value {
    width: 27%
}

.longvalue {
    width: 100%
}

.selects {
    margin-left: 3px;
    width: 100%;
}

.textField {
    margin-left: 3px;
    width: 100%;
    float: right;
    padding: 12px 6px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

#createTable, #createTaskList, #deleteTaskList {
    padding: 1em 1em 0.2em 1em;
}

.yesno {
    line-height: 40px;
}

#createTask, #doneBtn, #createTaskListBtn, #login, #deleteTaskListBtn,
#deleteBtn, #applyBtn, #cancelBtn, #noBtn, #yesBtn{
    float: right;
    background-color: DarkRed;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 8em;
}

#deleteTaskList {
    width: 99%;
}

.formHeader {
    font-weight: bold;
    padding: 8px;
    background-color: #f8f8f8;
    color: DarkRed;
    border-radius: 6px;
    margin-bottom: 40px;
}

.formDiv {
    height: 5px;
}

.centeredLogin {
    width: 250px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -125px;
    margin-top: -153px;
    border: 1px solid DarkRed;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 10px 10px 0px 10px;
}

#eTodoHeading {
    display: block;
    margin: 0 auto;
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
    align-self: center;
}

#eTodoImg {
    border: 2px solid Black;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

.loginHdr {
    color: White;
    padding-left: 6px;
    padding-top: 6px;
    height: 28px;
}

.loginInput {
    color: DarkRed;
    width: 99%;
    float: right;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

#loginFormTable {
    padding: 12px;
}

#login {
}

#doneBtn {
    margin-top: 1em;
}

#userSelect {
    width: 25%;
    margin-top: 6px;
    padding: 3px;
    height: 28px;
}

#sendMessage {
    width: 69%;
    height: 28px;
    float: right;
    margin-right: 10px;
    margin-top: 6px;
}

#sendButton {
    width: 32px;
    height: 32px;
    float: right;
    background: transparent url("/priv/Icons/send.png") no-repeat center;
    cursor: pointer; /* hand-shaped cursor */
    text-indent: -9999px;
    background-color: DarkRed;
    border-color: Black;
    border-radius: 5px;
    margin-top: 4px;
}


#messageField {
    margin-bottom: 56px;
}

#timerContainer {
    font-family: Ubuntu, sans-serif;
    background: transparent;
    border: none;
    text-align: center;
    color: black;
    width: 100%;
    margin-top: 20vh;
}

#timerUser {
    font-size: 12vh;
}

#timerStatus {
    font-size: 10vh;
}

#timerStatusMsg {
    font-size: 8vh;
}

#timerField {
    font-size: 18vh;
    color: white;
}

.timerAvailable #container #timerContainer #timerField {
    display: none;
}

.timerBusy #container #timerContainer #timerField {
    display: inline-block;
}

.timerAvailable {
    background-color: green;
    background-image: url('/priv/Icons/tomato.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.statusAvailable {
    background-color: green;
    background-image: url('/priv/Icons/tomato.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.timerBusy {
    background-color: red;
    background-image: url('/priv/Icons/tomato.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.statusAway {
    background-color: #ffc810;
    background-image: url('/priv/Icons/tomato.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.statusBusy {
    background-color: red;
    background-image: url('/priv/Icons/tomato.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.workLogTable {
    border-color: #d0d0d0;
    border-width: 6px;
}

.workLogSum {
    background-color: black;
    color: white;
    text-align: center;
}

.workLogValue {
    text-align: center;
    color: darkred;
}

.workLogDesc {
    text-align: left;
}

.workLogColumn {
    text-align: center;
}

.workLogHeading {
    background-color: black;
    color: white;
}

.lwOdd {
    background-color: #dcdcdc;
}

.lwEven {
    background-color: #ffffff;
}

.timeReportTable {
    border-color: #d0d0d0;
    border-width: 6px;
}

.timeReportSum {
    background-color: black;
    color: white;
    text-align: center;
}

.timeReportValue {
    text-align: center;
    color: darkred;
}

.timeReportDesc {
    text-align: left;
}

.timeReportColumn {
    text-align: center;
}

.timeReportHeading {
    background-color: black;
    color: white;
}

.trOdd {
    background-color: #dcdcdc;
}

.trEven {
    background-color: #ffffff;
}

input.rounded {

    border: none;
    /* Safari 5, Chrome support border-radius without vendor prefix.
     * FF 3.0/3.5/3.6, Mobile Safari 4.0.4 require vendor prefix.
     * No support in Safari 3/4, IE 6/7/8, Opera 10.0.
     */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /* Chrome, FF 4.0 support box-shadow without vendor prefix.
     * Safari 3/4/5 and FF 3.5/3.6 require vendor prefix.
     * No support in FF 3.0, IE 6/7/8, Opera 10.0, iPhone 3.
     * change the offsets, blur and color to suit your design.
     */
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;

    /* with a big radius/font there needs to be padding left and right
     * otherwise the text is too close to the radius.
     * on a smaller radius/font it may not be necessary
     */
    padding: 0px 4px;

    /* only needed for webkit browsers which show a rectangular outline;
     * others do not do outline when radius used.
     * android browser still displays a big outline
     */
    outline: 0;

    /* this is needed for iOS devices otherwise a shadow/line appears at the
     * top of the input. depending on the ratio of radius to height it will
     * go all the way across the full width of the input and look really messy.
     * ensure the radius is no more than half the full height of the input,
     * and the following is set, and everything will render well in iOS.
     */
    -webkit-appearance: none;

}

input.rounded:focus {

    /* supported IE8+ and all other browsers tested.
     * optional, but gives the input focues when selected.
     * change to a color that suits your design.
     */
    border-color: #339933;

}

/* Modify stylesheet after size of web window */

@media screen and (max-width: 450px) {
    body {
        font-size: 0.7em;
    }

    select {
        padding: 3px;
        border-radius: 3px;
    }

    input, select, textarea {
        font-size: 1.0em;
    }

    .textField {
        padding: 9px 6px;
        border: 2px solid #ccc;
        border-radius: 3px;
    }

    .msgTime {
        width: 60px;
        text-align: center;
    }

    .portrait {
        width:  25px;
        height: 25px;
    }

    .msgImg {
        width: 30px;
        text-align: center;
    }

    #footer {
        width: 94%;
    }

    #taskSelect {
        width: 100%;
    }

    #searchButton {
        display: none;
    }

    #searchField {
        display: none;
    }

    #sendMessage {
        width: 51%;
    }

    .timerAvailable {
        background-size: 20%;
    }

    .statusAvailable {
        background-size: 20%;
    }

    .statusAway {
        background-size: 20%;
    }

    .statusBusy {
        background-size: 20%;
    }

    .timerBusy {
        background-size: 20%;
    }
    .workLogColBig {
        display: none;
    }
}
@media screen and (min-width: 450px) and (max-width: 620px) {
    .workLogColBig {
        display: none;
    }
}

@media screen and (min-width: 450px) and (max-width: 1000px) {
    .data {
        width: 35%;
    }

    .data2 {
        width: 35%;
    }

    .msgTime {
        width: 80px;
        text-align: center;
    }

    .msgImg {
        width: 40px;
        text-align: center;
    }

    .portrait {
        width:  35px;
        height: 35px;
    }

    .header {
        width: 110px;
    }

    #footer {
        width: 96%;
    }

    .description {
        width: 20%;
    }

    .value {
        width: 35%
    }

    #taskSelect {
        width: 30%;
    }

    #searchField {
        width: 51%;
    }

    #sendMessage {
        width: 61%;
    }
    .timerAvailable {
        background-size: 20%;
    }

    .statusAvailable {
        background-size: 20%;
    }

    .statusAway {
        background-size: 20%;
    }

    .statusBusy {
        background-size: 20%;
    }

    .timerBusy {
        background-size: 20%;
    }
}

@media screen and (min-width: 1000px) {
    .data {
        width: 39%;
    }

    .data2 {
        width: 39%;
    }

    .header {
        width: 110px;
    }

    #footer {
        width: 98%;
    }

    .description {
        width: 11%;
    }

    .value {
        width: 39%
    }

    #taskSelect {
        width: 30%;
    }

    #searchField {
        width: 61%;
    }

    #sendMessage {
        width: 69%;
    }
    .timerAvailable {
        background-size: 20%;
    }

    .statusAvailable {
        background-size: 20%;
    }

    .statusAway {
        background-size: 20%;
    }

    .statusBusy {
        background-size: 20%;
    }

    .timerBusy {
        background-size: 20%;
    }
}


