#siteNav {
    position:fixed;
    top:70px;
    left:10px;
}
#pageNav {
    position:fixed;
    top:70px;
    right:10px;
    width:200px;
}

#contents {
    position:absolute;
    top:30px;
    left:300px;
    width:900px;
}

#header {
    position:fixed;
    top:0px;
    left:10px;
    font-size:18px;
    font-weight:500;
    border-bottom:1px dotted;
    padding-bottom:5px;
    width:100%;
    z-index:999;
    background:whitesmoke;
}

blockquote {
    background: #ffffd9;
    border-left: 10px solid #e0e0e0;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}
blockquote:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}
h1,h2,h3{
    border-top: 35px solid transparent;
    margin: -35px 0 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

}

table, section table {
    margin: 1em 1em 1em 0;
    border: 1px solid #c6c6c6;
    border-collapse: collapse;
    background-color: #f8f8f8;
    empty-cells: show;
    width: 100%;
}

table tr th, table tr th {
    background-color: #dadada;
    font-size: 110%;
}

table td, .table th, table td, table th {
    padding: 7px;
    line-height: 120%;
    vertical-align: top;
    border: 1px solid #c6c6c6;
}

strong, th {
    color: #353535;
}
.today {
    fill:none;
    stroke:red;
    stroke-width:2px;
}
@media print {
    #nav {
        display: none;
    }

    #navPage {
        display: none;
    }

    #content {
        left: 10px;
    }
}

/* Desktops and laptops ----------- */
@media only screen 
and (max-width : 1420px) {
/* Styles */
#contents {
   
    width:700px;
}
}



