[
    %% Recommended folder:
    %% Mac:     /Users/*user*/.eTodo
    %% Linux:   /home/*user*/.eTodo
    %% Windows: C:/Users/*user*/AppData/Roaming/eTodo
    {mnesia, [{dir, "/Users/*user*/.eTodo"}]},

    %% Recommended folder:
    %% Mac:     /Users/*user*/.eTodo/logs/eLog
    %% Linux:   /home/*user*/.eTodo/logs/eLog
    %% Windows: C:/Users/*user*/AppData/Roaming/eTodo/logs/eLog
    {eLog,   [{logDir, "/Users/*user*/.eTodo/logs/eLog"}]},

    {eTodo,  [{mode,      "gui"},      %% gui | noGui
              {user,      "UserName"}, %% Username when running with no gui
              {pwd,       "Password"}, %% Password when running with no gui

              %% Circle name when running with no gui
              {circle,    "Circle"},

              %% Status and Status message when running with no gui
              {status,    "Status"},
              {statusMsg, "Status message"},

              %% JIRA plugin config
              {jiraUrl,    "http://jira.upp.telia.se:8080"},
              {jiraUser,   "*user*"},
              {jiraPwd,    "*password*"},
              {jiraSearch, "project=\"CallGuide Development\" and (issuetype=Story or issuetype=Task or issuetype=Sub-task) and status not in (Resolved, Closed) and Assignee=currentUser()"}]}
].