[
    {mnesia, [{dir,       "/Users/miby00/.eTodo"}]},
    {eLog,   [{logDir,    "/Users/miby00/.eTodo/logs/eLog"}]},

    {eTodo,  [{mode,      "gui"},      %% gui | noGui
              {user,      "UserName"}, %% Username when running with no gui
              {pwd,       "Password"}, %% Password when running with no gui

              %% Circle name when running with no gui
              {circle,    "Circle"},

              %% Status and Status message when running with no gui
              {status,    "Status"},
              {statusMsg, "Status message"}]}
].